### Exercise 1: Calculate the multiplication and sum of two numbers

In [4]:
def calculation(number1,number2):
    product = number1 * number2
    if product <= 1000:
        return product
    else:
        sum = number1 + number2
        return sum
print(f"The result is: {calculation(40,30)}")

The result is: 70

### Exercise 2: Print the sum of the current number and the previous number

In [5]:
previous_num = 0
for i in range(1,11):
    sum = previous_num + i
    print("Current Number ",i,"previous Number ",previous_num, "Sum: ", sum)
    previous_num = i

Current Number  1 previous Number  0 Sum:  1
Current Number  2 previous Number  1 Sum:  3
Current Number  3 previous Number  2 Sum:  5
Current Number  4 previous Number  3 Sum:  7
Current Number  5 previous Number  4 Sum:  9
Current Number  6 previous Number  5 Sum:  11
Current Number  7 previous Number  6 Sum:  13
Current Number  8 previous Number  7 Sum:  15
Current Number  9 previous Number  8 Sum:  17
Current Number  10 previous Number  9 Sum:  19

### Exercise 3: Print characters from a string that are present at an even index number

In [20]:
string = input("Enter the string: ").lower()
for i in range(0,len(string),2):   
    print(string[i])

Enter the string: pynative
p
n
t
v

### Exercise 4: Remove first n characters from a string

In [25]:
def remove_char(value,remove):
    remove = value[remove:]
    print(remove)
remove_char("Pynative",4)
remove_char("pynative",2)

tive
native

### Exercise 5: Check if the first and last number of a list is the same

In [37]:
def same(list):
    if list[0] == list[-1]:
        return True
    else:
        return False
list = input("Enter the value of list: ")
list1 = list.split(" ")
print(f"Result is: {same(list1)}")

Enter the value of list: 10 20 10
Result is: True

### Exercise 6: Display numbers divisible by 5 from a list

In [48]:
def divisable(list):
    print("divisable by: 5")
    for i in list:
        if i%5== 0:
            print(i)
# divisable([10, 20, 33, 46, 55])
value = input("Enter the value of list: ")
numbers_str = value.split()
list = [int(x) for x in numbers_str]
divisable(list)

Enter the value of list: 10 20 30 45 98
divisable by: 5
10
20
30
45

### Exercise 7: Return the count of a given substring from a string

In [46]:
def counting(str_x):
    count = str_x.count("Emma")
    return count
count = counting("Emma is good developer. Emma is a writer")
print(f"Emma appeared {count} times")

Emma appeared 2 times

In [47]:
str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

### Exercise 8: Print the following pattern

In [57]:

for i in range(1,6):
    for j in  range(i):
        print(i, end = " ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Exercise 9: Check Palindrome Number

In [61]:
value = input("Enter the value: ")
# value_str = value.split()
# list = [int(x) for x in value_str]
reverse = value[::-1]
if value == reverse:
    print("It's a palindrome number.")
else:
    print("It's not palindrome number")

Enter the value: 121
It's a palindrome number.

In [73]:
def palindrome(number):   
    while True:
        if number.lower() == "quit":
            print("Over")
            break
        reverse = number[::-1]
        if reverse == number:
            print("It's a palindrome number")
        else:
            print("It's not a palindrome number")
        number = input("Enter another number or type 'quit' to exit: ")  
number = input("Enter the number: ")
palindrome(number)

Enter the number: 121
It's a palindrome number
Enter another number or type 'quit' to exit: 121
It's a palindrome number
Enter another number or type 'quit' to exit: 1221
It's a palindrome number
Enter another number or type 'quit' to exit: 1223
It's not a palindrome number
Enter another number or type 'quit' to exit: quit
Over

#### Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [4]:
value = input("Enter the number: ")
reverse = value[::-1]
for i in reverse:
    print(i, end = " ")

Enter the number: 769
9 6 7

#### Exercise 12: Calculate income tax for the given income by adhering to the rules below

In [7]:
income_tax = 10000*0/100+10000*10/100+25000*20/100
print(f"You should pay tax, {income_tax}$ for 45000")

You should pay tax, 6000.0$ for 45000

### Exercise 13: Print multiplication table from 1 to 10

In [29]:
for i in range(1,11):
    for j in range(1,11):
        multiply= i * j
        print(multiply, end = " ")
    print(" ")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

#### Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)

In [47]:
for i in range(6,0,-1):
    for j in range(0,i-1):
        print("*", end = " ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [50]:
for i in range(5,0,-1):
    print(i * " *")

 * * * * *
 * * * *
 * * *
 * *
 *

##### Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

In [57]:
def exponent(base,exp):
    result = base ** exp
    return result
base = float(input("Enter the base number: "))
exp = float(input("Enter the exp number: "))
print(f"The result of {base}'s {exp} exponent is: {exponent(base,exp)}")

Enter the base number: 2.75
Enter the exp number: 2.25
The result of 2.75's 2.25 exponent is: 9.738645587658398