#### Exercise 1: Create a function in Python

In [2]:
def information(name, age):
    print(name, age)
    
information("Rabbi", 27)

Rabbi 27

#### Exercise 2: Create a function with variable length of arguments

In [13]:
def fun1(*number):
    print("Printing Values:")
    for i in number:
        print(i)
        
        
fun1(20, 40, 60)
fun1(80,100,"Ashish Kumar")

Printing Values:
20
40
60
Printing Values:
80
100
Ashish Kumar

#### Exercise 3: Return multiple values from a function

In [14]:
def calculation(a, b):
    addition = a + b
    substraction = a - b
    multiplication = a * b
    divison = a / b
    
    return (f" + - * /{addition, substraction, multiplication, divison}")
a = int(input("Enter the first value: "))
b = int(input("Enter the second value: "))
res = calculation(a, b)
print(res)

Enter the first value: 50
Enter the second value40
 + - * /(90, 10, 2000, 1.25)

In [16]:
def calculation(a, b):
    return a + b, a-b, a*b,a/b

#get result in tuple format
#unpack tuple
add,sub,mul,div = calculation(50,30)
print(add,sub,mul,div)

80 20 1500 1.6666666666666667

#### Exercise 4: Create a function with a default argument

In [18]:
def show_employee(name, salary= 9000):
    print("Name: ",name,",","Salary: ",salary)
    
show_employee("Rabby", 270000)
show_employee("Ashis")

Name:  Rabby , Salary:  270000
Name:  Ashis , Salary:  9000

#### Exercise 5: Create an inner function to calculate the addition in the following way

In [26]:
def value(a, b):
    square = a ** 2
    def addition(a, b):
        return a + b
    add = addition(a, b)
    return add + 5
result= value(10,25)
print(result)

40

#### Exercise 6: Create a recursive function

In [29]:
def addition(num):
    if num:
        return num + addition(num - 1)
    else:
        return 0
    
res = addition(5)
print(res)

15

In [32]:
def factorial(num):
    if num == 0 or num ==1:
        return 1
    else:
        return num * factorial(num-1)
    
res = factorial(5)
print(res)

120

In [43]:
def fibonacci(n):
    if n <= 1:
        return n
        
    else:
        return fibonacci(n-1) + fibonacci(n-2)
nterms = int(input("Enter the terms of series number"))        
if nterms <= 0:
    print("Please enter a positive integer")
else:
    print("Fibonacci sequence:")
    for i in range(nterms + 1):
        print(fibonacci(i), end=" ")

Enter the terms of series number8
Fibonacci sequence:
0 1 1 2 3 5 8 13 21

#### Exercise 7: Assign a different name to function and call it through the new name

In [6]:
def display_student(name, age):
    print(f"Name: {name},Age: {age}")
    
show_student = display_student    
show_student("Rabbi", 27)

Name: Rabbi,Age: 27

#### Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [17]:
def even_list(number):
    list1 = [int(x) for x in range(2,number,2)]
    print(list1)
number = int(input("Enter the value: "))    
even_list(number)

Enter the value: 30
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [14]:
print(list(range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#### Exercise 9: Find the largest item from a given list

In [19]:
def find_max(n):
    print(max(n))
    
input_str = input("Enter the number by giving space: ")
list1 = [int(i) for i in input_str.split()]
find_max(list1)

Enter the number by giving space: 231 543 6776 24233 3 52345 756
52345