#### Exercise 1: Print First 10 natural numbers using while loop

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Exercise 2: Print the following pattern

In [9]:
for i in range(1,6):
    for j in  range(1, i +1):
        print(j, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [15]:
sum = 0
for i in range(1,11):
    sum += i
print(sum)

55

#### Exercise 4: Write a program to print multiplication table of a given number

In [2]:
num = int(input("Write the number,which you want to see multiplication 1-10: "))
for i in range(1,11):
    multiply = i * num
    print(f"{num} X {i} = {multiply}")

Write the number,which you want to see multiplication 1-10: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

#### Exercise 5: Display numbers from a list using loop

In [18]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num in numbers:
    if num > 500:
        break
    if num > 150:
        continue
    elif num % 5==0:
        print(num)

75
150
145

#### Exercise 6: Count the total number of digits in a number

In [29]:
number = 75869
count = 0
while number != 0:
    # floor division
    # to reduce the last digit from number
    number = number // 10
    count += 1
print("Total digits are:",count)

Total digits are: 5

#### Exercise 7: Print the following pattern

In [62]:
for i in range(0,5):
    for j in range(5-i,0,-1):
        print(j, end = " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [61]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end= " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [70]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j, end= " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

#### Exercise 8: Print list in reverse order using a loop

In [6]:
list1 = [10, 20, 30, 40, 50]
reverselist = reversed(list1)
for item in reverselist:
    print(item)

50
40
30
20
10

#### Exercise 9: Display numbers from -10 to -1 using for loop

In [8]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [10]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

#### Exercise 11: Write a program to display all prime numbers within a range

In [2]:
for num in range(25, 51):
    if num > 1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

29
31
37
41
43
47

#### Exercise 12: Display Fibonacci series up to 10 terms

In [8]:
num1 = 0
num2 = 1
for num in range(1,11):
    print(num1, end = " ")
    res = num1 + num2
    num1 = num2
    num2 = res

0 1 1 2 3 5 8 13 21 34

#### Exercise 13: Find the factorial of a given number

In [22]:
factorial = 1
while True:
    number = int(input("Enter the number: "))
    if number > 1:
        for num in range(1, number + 1):
            factorial = factorial * num
        print(factorial)
        break
    else:
        print("Input the positive number over than 1")

Enter the number: 5
120

#### Exercise 14: Reverse a given integer number

In [24]:
number = input("Enter the number: ")
reverse = number[::-1]
print(reverse)

Enter the number: 2134567
7654312

In [29]:
num = int(input("Enter the number: "))
reverse_number = 0
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Reverse number: ",reverse_number)

Enter the number: 1234
Reverse number:  4321

#### Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [2]:
numbers = input("Enter numbers separated by spaces: ")
list_numbers = [int(x) for x in numbers.split()]
# using slicing we can get odd position index number
for i in list_numbers[1::2]:
    print(i, end = " ")

Enter numbers separated by spaces: 321 5156 6828 31 2 6372 7589  1 375
5156 31 6372 1

#### Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [21]:
number = int(input("Enter the number: "))
for num in range(1, number + 1):
    res = num ** 3
    print(f"Current Number is : {num}  and the cube is {res}")

Enter the number: 5
Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125

#### Exercise 17: Find the sum of the series upto n terms

In [8]:
number = int(input("Enter the number: "))
n = int(input("Enter the term of series: "))
sum1 = 0
for i in range(n):
    print(number, end = "+")
    sum1 += number
    number = number*10 + int(str(number)[0])
print("\nSum of above series is:", sum1)

Enter the number: 9
Enter the term of series: 5
9+99+999+9999+99999+
Sum of above series is: 111105

#### Exercise 18: Print the following pattern

In [16]:
n = int(input("Enter the size of diamond in cm: "))
for i in range(1, n+1, 1):
    print(" " * (n-i) + " *" * i)
for j in range(n-1, 0, -1):
    print(" " * (n-j) + j * " *")

Enter the size of diamond in cm: 5
     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *